<div>
	<%= form_for @list, remote: true, class: "list-item-form" do |f| %>
		
		<p>
			<%= f.label :title %>
			<%= f.text_field :title, class: "list-item-title" %>
		</p>
		<p>
			<%= f.label :description %>
			<%= f.text_field :description, class: "list-item-description" %>
		</p>
		<p>
		  <%= f.label :progress %>
		  <%= f.number_field :progress, class: "list-item-progress" %>
		</p>

		<p>
			<%= f.submit %>
		</p>

	<% end %> 

</div>
