<!DOCTYPE html>
<html>
<head>
  <title>UncubedChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav>
		<% if current_user %>
			<span>Hello <%= current_user.username %></span>
			<%= link_to 'sign out', signout_path, method: :delete %>
		<% else %>
			<%= link_to 'sign in', signin_path %>
			<%= link_to 'sign up', new_user_path %>
		<% end %>
	</nav>
</header>
<main>
	
	<%= yield %>
</main>
</body>
</html>
